@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  font-family: nunito-sans;
  line-height: 1.5;
  font-weight: 400;
}

/*below needs to be update with styles */
body {
  color: #111517;
  background-color: #fafafa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: sans-serif, nunito-sans;
  margin: 0 auto;
  padding: 2rem 1.25rem;
  background: #f5f5f5;
}
